[*.{kt,kts}]
insert_final_newline=false
max_line_length=off
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_import-ordering=disabled
ktlint_standard_package-name=disabled
ktlint_standard_function-naming=disabled
ktlint_standard_property-naming=disabled
ktlint_standard_backing-property-naming=disabled
ktlint_standard_no-consecutive-comments=disabled
ktlint_standard_no-empty-file=disabled