language: android
dist: trusty
android:
  components:
    - tools
    - build-tools-28.0.3
    - android-28
before_install:
  - openssl aes-256-cbc -K $encrypted_env_key -iv $encrypted_env_iv -in .env.enc -out fastlane/.env -d
  - openssl aes-256-cbc -K $encrypted_env_key -iv $encrypted_env_iv -in treetracker.keys.properties.enc -out treetracker.keys.properties -d
install:
  - "bundle install"
script:
  - "./gradlew clean assembleGreenstandDebug"
