name: Treetracker Android App CI PR

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
#on:
#  pull_request:
#    branches: [ master, release* ]
on:
  workflow_dispatch:

jobs:
  test-and-build:
    name: Run tests and build debug APK
    runs-on: ubuntu-latest
    env:
      S3_DEV_IDENTITY_POOL_ID: ${{ secrets.S3_DEV_IDENTITY_POOL_ID }}
      S3_TEST_IDENTITY_POOL_ID: ${{ secrets.S3_TEST_IDENTITY_POOL_ID }}
      S3_PRODUCTION_IDENTITY_POOL_ID: ${{ secrets.S3_PRODUCTION_IDENTITY_POOL_ID }}
      TREETRACKER_CLIENT_ID: ${{ secrets.TREETRACKER_CLIENT_ID }}
      TREETRACKER_CLIENT_SECRET: ${{ secrets.TREETRACKER_CLIENT_SECRET }}
      PROD_TREETRACKER_CLIENT_ID: ${{ secrets.PROD_TREETRACKER_CLIENT_ID }}
      PROD_TREETRACKER_CLIENT_SECRET: ${{ secrets.PROD_TREETRACKER_CLIENT_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup build environment
        uses: ./.github/workflows/actions/setup-build-environment
        with:
          use_dummy_keys: true

      - name: Run tests
        uses: ./.github/workflows/actions/run-tests

      - name: Build debug APK
        uses: ./.github/workflows/actions/build-apk
        with:
          build_variant: debug

      - name: Clean up
        if: always()
        run: rm -f treetracker.keys.properties
